* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: rgba(28, 82, 221, 0.56);
  color: #FAFAFA;
}

.center {
  margin: 0 auto;
  width: 90%;
  padding-top: 3%;
}

a {
  text-decoration: none;
  color: #FAFAFA;
  cursor: pointer;
}

.button {
  border: 0;
  padding: 17px 36px;
  display: inline-block;
}

header {
  display: flex;
  align-items: center;
}

.join_now, .sign_up, h3 {
  color: #E5E5E5;
}

.logo_background {
  width: 42px;
  height: 43px;
  background: linear-gradient(90deg, #345AA4 0%, #3F009C 154.76%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px 0px 0px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_background-center {
  width: 19px;
  height: 20px;
  background: #FFFFFF;
}

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;  
}

span, li, h1 { 
  font-weight: 600;
}

span {
  font-size: 48px;
  margin-left: 10px;
}

li {
  list-style: none;
  font-size: 30px;
  color: #FFFFFF;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  display: inline-block;
  width: 47%;
  margin-left: 18%;
}

.sign_up, h3, .join_now {
  font-weight: 500;
}

.sign_up { 
  background: linear-gradient(90deg, #345AA4 -28.35%, rgba(63, 0, 156, 0) 153.96%);
  border-radius: 13px;
  font-size: 24px;
  text-transform: capitalize;
  display: inline;
  margin-left: 0.6%;
}

h1 {
  font-size: 70px;
  color: #FFFFFF;
}

h3 {
  font-size: 36px;
  padding: 8px 0 50px;
}

.join_now {
  background: linear-gradient(90deg, #345AA4 0%, rgba(63, 0, 156, 0.92) 164.26%);
  border-radius: 13px;
  font-size: 36px; 
}

section {
  display: flex;
  justify-content: space-between;
}

article {
  width: 42%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}